@media (max-width: 1410px) {
  .header .container {
    width: 1300px;
  }
  .slider__arrow.prev {
    left: -22px;
  }
  .slider__arrow.next {
    right: -12px;
  }
  .section-title {
    left: 12px;
  }
}

@media (max-width: 1330px) {
  .header .container {
    width: 1220px;
  }
  .header__left {
    flex: 0 0 43%;
    max-width: 43%;
  }
  .header__search {
    flex: 0 0 32%;
    max-width: 32%;
  }
  .city-select {
    flex: 0 0 31%;
    max-width: 31%;
  }
  .slider__arrow.prev {
    left: 15px;
  }
  .slider__arrow.next {
    right: 15px;
  }
  .section-title {
    left: 50px;
  }
}

@media (max-width: 1250px) {
  .hidden-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
  .container {
    width: 992px;
  }
  .header .container {
    width: 992px;
  }
  .header__left {
    flex: 0 0 36%;
    max-width: 36%;
  }
  .header__logo {
    flex: 0 0 28%;
    max-width: 28%;
  }
  .header__search {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .header__likes {
    flex: 0 0 6%;
    max-width: 6%;
  }
  .city-select {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .search-form {
    width: 230px;
  }
  .menu__list .container {
    padding: 40px 25px;
  }
  .menu__list > li > a {
    padding: 13px 27px;
  }
  .slider__arrow.prev {
    left: 15px;
  }
  .slider__arrow.next {
    right: 15px;
  }
  .section-title {
    left: 50px;
  }
  .banner__title h2 {
    font-size: 65px;
    letter-spacing: 0px;
  }
  .footer {
    height: 485px;
  }
  .footer .container:nth-child(2) {
    padding-left: 85px;
  }
  .footer__heart {
    height: 485px;
  }
}

@media (max-width: 1000px) {
  .hidden-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
  .container {
    width: 710px;
  }
  .header {
    padding: 15px 0 9px;
  }
  .header .container {
    width: 706px;
    position: unset;
  }
  .header__left {
    flex: 0 0 19%;
    max-width: 19%;
  }
  .header__logo {
    flex: 0 0 28%;
    max-width: 28%;
    position: relative;
    z-index: 13;
  }
  .header__logo svg {
    width: 70px;
    height: auto;
  }
  .header__search {
    position: absolute;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    padding: 75px 0 20px 0;
    z-index: 12;
    background: #fff;
  }
  .header__search.col {
    display: none;
  }
  .header__search-close {
    display: block;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -336px;
    font-size: 34px;
    font-weight: 500;
  }
  .header__likes {
    flex: 0 0 36%;
    max-width: 36%;
    justify-content: flex-end;
    font-size: 25px;
    margin-top: -5px;
  }
  .header__mob {
    display: flex !important;
    flex: 0 0 17%;
    max-width: 17%;
  }
  .search-form {
    width: 670px;
    margin: 0 auto;
  }
  .city-select {
    margin-left: 5px;
    margin-top: -3px;
  }
  .city-select__dropdown {
    position: fixed;
    left: 0;
    top: 0;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    font-size: 16px;
    z-index: 14;
  }
  .city-select__dropdown .city-select__arrow {
    display: none;
  }
  .city-select ul {
    margin-top: 20px;
  }
  .city-select ul > li {
    margin: 0;
    padding: 15px 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .city-select__button {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .city-select__title {
    display: flex;
    justify-content: flex-end;
  }
  .city-select__title .col {
    flex: 0 0 0;
  }
  .mobmenu__title {
    background: #000;
    color: #fff;
    padding: 13px 25px;
  }
  .mobmenu__title.col {
    display: flex;
  }
  .mobmenu__close {
    justify-content: flex-end;
    cursor: pointer;
  }
  .menu {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .menu__list > li > a {
    padding: 11px 43px 12px;
  }
  .menu__list > li:hover .menu__dropdown {
    opacity: 0;
    visibility: hidden;
  }
  .top-banner {
    height: 295px;
    margin-bottom: 32px;
  }
  .top-banner__content {
    padding: 70px 0 0 69px;
  }
  .top-banner__content h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .top-banner__content p {
    font-size: 17px;
    padding-left: 0px;
    margin-top: 21px;
    line-height: 20px;
    letter-spacing: -0.2px;
  }
  .section-title {
    left: 16px;
    font-size: 16px;
  }
  .products__slider {
    padding-right: 0px;
    padding-left: 52px;
    margin-bottom: 8px;
  }
  .products__news .section-title {
    margin-top: -24px;
  }
  .products__popular .section-title {
    margin-top: -11px;
  }
  .product__image {
    height: 200px;
  }
  .product__price {
    font-size: 15px;
    margin-top: 9px;
  }
  .product__brand {
    margin-top: 15px;
    font-size: 16px;
  }
  .product__desc {
    font-size: 13px;
    line-height: 16px;
    margin-top: 2px;
    letter-spacing: -0.2px;
    height: 35px;
  }
  .product__info {
    display: none;
  }
  .product__like {
    opacity: 1;
  }
  .product:hover {
    border-color: transparent !important;
  }
  .product:hover .product__info {
    display: none;
  }
  .slider__arrow {
    display: none;
  }
  .banner {
    margin-bottom: 11px;
    height: 300px;
    margin-top: 20px;
  }
  .banner__content {
    flex: 0 0 47%;
    max-width: 47%;
    padding: 112px 0 0 17px;
  }
  .banner__link {
    display: none;
  }
  .banner__menu {
    display: none;
  }
  .banner__title {
    margin-top: 0;
  }
  .banner__title h2 {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .banner.cosm {
    margin-top: 21px;
    margin-bottom: 11px;
  }
  .blog {
    margin-top: 21px;
    padding-top: 9px;
    padding-bottom: 37px;
  }
  .blog .section-title {
    margin-top: 22px;
    position: relative;
    transform: rotate(0deg);
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 26px;
    display: block;
    margin-bottom: 24px;
    margin-left: 12px;
    text-transform: unset;
  }
  .blog__slider {
    padding-right: 0px;
    padding-left: 2px;
  }
  .blog-item {
    flex: 1 0 0;
    margin: 0 12px;
  }
  .blog__button {
    display: block;
  }
  #blog-slider {
    display: flex;
  }
  .brands {
    background: #fff;
    margin-top: 0px;
    padding: 46px 0;
  }
  .brands__slider {
    padding-right: 35px;
    padding-left: 65px;
  }
  .brands .owl-dots {
    display: none;
  }
  .brand img {
    max-width: 80px;
  }
  .shops {
    background: #d7d7d7;
    margin-top: 0px;
    padding: 46px 0;
  }
  .shops__slider {
    padding-right: 35px;
    padding-left: 65px;
  }
  .shops .owl-dots {
    display: none;
  }
  .shops .section-title {
    margin-top: 46px;
  }
  .shop img {
    max-width: 80px;
  }
  .social-icons {
    margin-top: 0;
    margin-bottom: 39px;
  }
  .social-icons__item {
    margin: 0 4px;
    text-align: center;
    display: inline-block;
  }
  .footer {
    height: 429px;
  }
  .footer__wrapper {
    padding: 35px 0;
  }
  .footer .social-icons {
    margin-top: 0;
    margin-bottom: 39px;
  }
  .footer .container:nth-child(2) {
    padding-left: 16px;
  }
  .footer__menu:nth-child(1) {
    flex: 0 0 175px;
  }
  .footer__menu:nth-child(2) {
    flex: 0 0 111px;
  }
  .footer__menu:nth-child(3) {
    flex: 0 0 117px;
  }
  .footer__menu:nth-child(4) {
    flex: 0 0 109px;
  }
  .footer__copy {
    margin-top: 45px;
    letter-spacing: 0.2px;
    font-size: 12px;
  }
  .footer__heart {
    font-size: 584px;
    height: 424px;
    right: 63px;
    top: -75px;
  }
}

@media (max-width: 760px) {
  .hidden-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  .container {
    width: 100%;
    max-width: 540px;
  }
  .header .container {
    width: 100%;
    max-width: 540px;
  }
  .header__mob {
    order: 1;
    flex: 0 0 36%;
    padding-left: 20px;
    max-width: 36%;
  }
  .header__logo {
    order: 2;
  }
  .header__left {
    flex: 0 0 17%;
    max-width: 17%;
    order: 3;
  }
  .header__likes {
    flex: 0 0 17%;
    max-width: 17%;
    justify-content: flex-start;
    padding-left: 2px;
    order: 4;
  }
  .header__search {
    padding: 75px 20px 20px;
  }
  .header__search-close {
    left: 20px;
    margin-left: 0;
  }
  .search-form {
    width: 100%;
  }
  .city-select {
    margin-left: 11px;
    margin-top: -6px;
  }
  .city-select__icon {
    color: #c8c8c8;
  }
  .city-select__text {
    display: none;
  }
  .city-select__arrow {
    display: none;
  }
  .mobmenu__top > ul {
    padding: 0 24px 0 16px;
  }
  .mobmenu__top > ul > li > a {
    padding: 14px 0;
    font-size: 12px;
    height: 45px;
  }
  .mobmenu__close {
    right: 10px;
    top: 14px;
    font-size: 12px;
  }
  .mobmenu__close.level-2 {
    font-size: 16px;
    top: 11px;
    right: 28px;
  }
  .mobmenu__sub > li {
    padding: 14px 46px;
  }
  .mobmenu__other > ul > li {
    padding: 14px 46px;
  }
  .mobmenu__arrow {
    right: -24px;
    top: 6px;
  }
  .mobmenu__back {
    padding: 11px 48px;
  }
  .mobmenu__back .icon {
    top: 19px;
  }
  .mobmenu__dropdown > ul > li {
    padding: 14px 46px;
  }
  .menu__list > li > a {
    padding: 7px 18px 11px;
  }
  .top-banner {
    height: 200px;
    margin-bottom: 15px;
  }
  .top-banner__content {
    padding: 56px 0 0 23px;
  }
  .top-banner__content h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .top-banner__content p {
    padding-left: 2px;
    margin-top: 12px;
  }
  .products .section-title {
    display: none;
  }
  .products__slider {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  .products__popular {
    display: none;
  }
  .product {
    padding: 10px 4px 0;
    border: none !important;
  }
  .product__labels {
    left: 1px;
    top: 3px;
  }
  .product__like {
    right: -2px;
    top: 5px;
  }
  .owl-dots {
    margin-top: 12px;
    padding-right: 50px;
  }
  .owl-dot {
    width: 5px;
    height: 6px;
    margin: 0 2px;
  }
  .banner {
    margin-bottom: 0;
    height: 200px;
    margin-top: 16px;
  }
  .banner__content {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 79px 0 0 17px;
  }
  .banner__title h2 {
    font-size: 32px;
    letter-spacing: -0.5px;
  }
  .banner.cosm {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .blog {
    margin-top: 16px;
    padding-bottom: 55px;
  }
  .blog .section-title {
    margin-left: 41px;
  }
  .blog__slider {
    padding-right: 0px;
    padding-left: 0;
  }
  .blog__button {
    margin-top: -7px;
  }
  .blog-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 30px;
  }
  #blog-slider {
    flex-direction: column;
    padding: 0 22px;
  }
  .brands {
    display: none;
  }
  .shops {
    display: none;
  }
  .footer {
    height: 565px;
  }
  .footer__heart {
    font-size: 570px;
    height: 546px;
    right: 50%;
    margin-right: -295px;
    top: -61px;
  }
  .footer .social-icons {
    margin-top: 0;
    margin-bottom: 47px;
  }
  .footer .container:nth-child(2) {
    padding: 0 15px;
  }
  .footer__menu {
    text-align: center;
    flex: 0 0 50% !important;
    margin-bottom: 26px;
  }
  .footer__menu h3 {
    font-size: 15px;
    font-weight: 700;
  }
  .footer__menu ul {
    font-size: 14px;
    margin-top: 4px;
  }
  .footer__menu ul li {
    margin-bottom: 0;
    line-height: 26px;
  }
  .footer__menu .social-icons {
    margin-bottom: 47px;
  }
  .footer__menu:nth-child(1) {
    order: 3;
  }
  .footer__menu:nth-child(2) {
    order: 1;
  }
  .footer__menu:nth-child(3) {
    order: 2;
  }
  .footer__menu:nth-child(5) {
    order: 4;
  }
  .footer__copy {
    margin-top: 13px;
    max-width: 210px;
    text-align: center;
    line-height: 16px;
  }
}

@media (max-width: 374px) {
  .menu__list > li > a {
    padding: 7px 15px 11px;
  }
  .blog-item__title h3 {
    font-size: 28px;
  }
}

@media (max-width: 359px) {
  .menu__list > li > a {
    padding: 7px 9px 11px;
  }
  .banner__content {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .btn-lg {
    padding: 15px 60px;
  }
  .social-icons__item {
    margin: 0 2px;
  }
  .blog-item__title h3 {
    font-size: 24px;
  }
  .blog-item__image {
    height: 200px;
  }
}

/*# sourceMappingURL=responsive.css.map */