@media (max-width: 1410px) {
  .header{
    .container {
      width: 1300px;
    }
  }
  .slider{
    &__arrow{
      &.prev {
        left: -22px;
      }
      &.next {
        right: -12px;
      }
    }
  }
  .section-title {
    left: 12px;
  }
}

@media (max-width: 1330px) {
  .header{
    .container {
      width: 1220px;
    }
    &__left{
      flex: 0 0 43%;
      max-width: 43%;
    }
    &__search{
      flex: 0 0 32%;
      max-width: 32%;
    }
  }
  .city-select {
      flex: 0 0 31%;
      max-width: 31%;
  }
  .slider{
    &__arrow{
      &.prev {
        left: 15px;
      }
      &.next {
        right: 15px;
      }
    }
  }
  .section-title {
    left: 50px;
  }
}

@media (max-width: 1250px) {
  .hidden-lg{
    display: none !important;
  }
  .show-lg{
    display: block !important;
  }
  .container {
    width: 992px;
  }
  .header{
    .container {
      width: 992px;
    }
    &__left{
      flex: 0 0 36%;
      max-width: 36%;
    }
    &__logo{
      flex: 0 0 28%;
      max-width: 28%;
    }
    &__search{
      flex: 0 0 30%;
      max-width: 30%;
    }
    &__likes{
      flex: 0 0 6%;
      max-width: 6%;
    }
  }
  .city-select {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .search-form {
    width: 230px;
  }
  .menu{
    &__list{
      .container{
        padding: 40px 25px;
      }
      &>li{
        &>a{
          padding: 13px 27px;
        }
      }
    }
  }
  .slider{
    &__arrow{
      &.prev {
        left: 15px;
      }
      &.next {
        right: 15px;
      }
    }
  }
  .section-title {
    left: 50px;
  }
  .banner{
    &__title{
      h2 {
        font-size: 65px;
        letter-spacing: 0px;
      }
    }
  }
  .footer{
    height: 485px;
    .container{
      &:nth-child(2) {
        padding-left: 85px;
      }
    }
    &__heart {
      height: 485px;
    }
  }
}

@media (max-width: 1000px) {
  .hidden-md{
    display: none !important;
  }
  .show-md{
    display: block !important;
  }
  .container {
    width: 710px;
  }
  .header{
    padding: 15px 0 9px;
    .container {
      width: 706px;
      position: unset;
    }
    &__left{
      flex: 0 0 19%;
      max-width: 19%;
    }
    &__logo{
      flex: 0 0 28%;
      max-width: 28%;
      position: relative;
      z-index: 13;
      svg{
        width: 70px;
        height: auto;
      }
    }
    &__search{
      position: absolute;
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      left: 0;
      top: 0;
      padding: 75px 0 20px 0;
      z-index: 12;
      background: #fff;
      &.col{
        display: none;
      }
      &-close{
        display: block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -336px;
        font-size: 34px;
        font-weight: 500;
      }
    }
    &__likes{
      flex: 0 0 36%;
      max-width: 36%;
      justify-content: flex-end;
      font-size: 25px;
      margin-top: -5px;
    }
    &__mob{
      display: flex !important;;
      flex: 0 0 17%;
      max-width: 17%;
    }
  }
  .search-form {
    width: 670px;
    margin: 0 auto;
  }
  .city-select {
    margin-left: 5px;
    margin-top: -3px;
    &__dropdown {
      position: fixed;
      left: 0;
      top: 0;
      border: none;
      width: 100%;
      height: 100%;
      padding: 0;
      overflow: auto;
      font-size: 16px;
      z-index: 14;
      .city-select__arrow{
        display: none;
      }
    }
    ul{
      margin-top: 20px;
      &>li{
        margin: 0;
        padding: 15px 35px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
      }
    }
    &__button{
      display: block;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    &__title{
      display: flex;
      justify-content: flex-end;
      .col{
        flex: 0 0 0;
      }
    }
  }
  .mobmenu{
    &__title{
      background: #000;
      color: #fff;
      padding: 13px 25px;
      &.col{
        display: flex;
      }
    }
    &__close{
      justify-content: flex-end;
      cursor: pointer;
    }
  }
  .menu{
    font-size: 16px;
    letter-spacing: 0.5px;
    &__list{
      &>li{
        &>a{
          padding: 11px 43px 12px;
        }
        &:hover{
          .menu__dropdown{
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
  .top-banner {
    height: 295px;
    margin-bottom: 32px;
    &__content{
      padding: 70px 0 0 69px;
      h1{
        font-size: 40px;
        line-height: 40px;
      }
      p{
        font-size: 17px;
        padding-left: 0px;
        margin-top: 21px;
        line-height: 20px;
        letter-spacing: -0.2px;
      }
    }
  }
  .section-title {
    left: 16px;
    font-size: 16px;
  }
  .products{
    &__slider{
      padding-right: 0px;
      padding-left: 52px;
      margin-bottom: 8px;
    }
    &__news{
      .section-title {
        margin-top: -24px;
      }
    }
    &__popular{
      .section-title {
        margin-top: -11px;
      }
    }
  }
  .product{
    &__image{
      height: 200px;
    }
    &__price{
      font-size: 15px;
      margin-top: 9px;
    }
    &__brand{
      margin-top: 15px;
      font-size: 16px;
    }
    &__desc{
      font-size: 13px;
      line-height: 16px;
      margin-top: 2px;
      letter-spacing: -0.2px;
      height: 35px;
    }
    &__info{
      display: none;
    }
    &__like{
      opacity: 1;
    }
    &:hover{
      border-color: transparent !important;
      .product__info{
        display: none;
      }
    }
  }
  .slider{
    &__arrow {
      display: none;
    }
  }
  .banner {
    margin-bottom: 11px;
    height: 300px;
    margin-top: 20px;
    &__content{
      flex: 0 0 47%;
      max-width: 47%;
      padding: 112px 0 0 17px;
    }
    &__link{
      display: none;
    }
    &__menu{
      display: none;
    }
    &__title{
      margin-top: 0;
      h2{
        font-size: 40px;
        letter-spacing: 1px;
      }
    }
    &.cosm{
      margin-top: 21px;
      margin-bottom: 11px;
    }
  }
  .blog {
    margin-top: 21px;
    padding-top: 9px;
    padding-bottom: 37px;
    .section-title {
      margin-top: 22px;
      position: relative;
      transform: rotate(0deg);
      top: 0;
      left: 0;
      font-size: 20px;
      line-height: 26px;
      display: block;
      margin-bottom: 24px;
      margin-left: 12px;
      text-transform: unset;
    }
    &__slider{
      padding-right: 0px;
      padding-left: 2px;
    }
    &-item{
      flex: 1 0 0;
      margin: 0 12px;
    }
    &__button{
      display: block;
    }
  }
  #blog-slider{
    display: flex;
  }
  .brands {
    background: #fff;
    margin-top: 0px;
    padding: 46px 0;
    &__slider{
      padding-right: 35px;
      padding-left: 65px;
    }
    .owl-dots{
      display: none;
    }
  }
  .brand{
    img{
      max-width: 80px;
    }
  }
  .shops {
    background: #d7d7d7;
    margin-top: 0px;
    padding: 46px 0;
    &__slider{
      padding-right: 35px;
      padding-left: 65px;
    }
    .owl-dots{
      display: none;
    }
    .section-title {
      margin-top: 46px;
    }
  }
  .shop{
    img{
      max-width: 80px;
    }
  }
  .social-icons{
    margin-top: 0;
    margin-bottom: 39px;
    &__item {
      margin: 0 4px;
      text-align: center;
      display: inline-block;
    }
  }
  .footer {
    height: 429px;
    &__wrapper{
      padding: 35px 0;
    }
    .social-icons {
      margin-top: 0;
      margin-bottom: 39px;
    }
    .container{
      &:nth-child(2) {
        padding-left: 16px;
      }
    }
    &__menu{
      &:nth-child(1) {
        flex: 0 0 175px;
      }
      &:nth-child(2) {
        flex: 0 0 111px;
      }
      &:nth-child(3) {
        flex: 0 0 117px;
      }
      &:nth-child(4) {
        flex: 0 0 109px;
      }
    }
    &__copy{
      margin-top: 45px;
      letter-spacing: 0.2px;
      font-size: 12px;
    }
    &__heart{
      font-size: 584px;
      height: 424px;
      right: 63px;
      top: -75px;
    }
  }
}

@media (max-width: 760px) {
  .hidden-sm{
    display: none !important;
  }
  .show-sm{
    display: block !important;
  }
  .container {
    width: 100%;
    max-width: 540px;
  }
  .header{
    .container {
      width: 100%;
      max-width: 540px;
    }
    &__mob{
      order: 1;
      flex: 0 0 36%;
      padding-left: 20px;
      max-width: 36%;
    }
    &__logo{
      order: 2;
    }
    &__left{
      flex: 0 0 17%;
      max-width: 17%;
      order: 3;
    }
    &__likes{
      flex: 0 0 17%;
      max-width: 17%;
      justify-content: flex-start;
      padding-left: 2px;
      order: 4;
    }
    &__search{
      padding: 75px 20px 20px;
      &-close{
        left: 20px;
        margin-left: 0;
      }
    }
  }
  .search-form {
    width: 100%;
  }
  .city-select{
    margin-left: 11px;
    margin-top: -6px;
    &__icon{
      color: #c8c8c8;
    }
    &__text{
      display: none;
    }
    &__arrow{
      display: none;
    }
  }
  .mobmenu{
   //background: url('../images/menu_m_1.png');
    &__top{
      &>ul{
        padding: 0 24px 0 16px;
        &>li{
          &>a{
            padding: 14px 0;
            font-size: 12px;
            height: 45px;
          }
        }
      }
    }
    &__close{
      right: 10px;
      top: 14px;
      font-size: 12px;
      &.level-2{
        font-size: 16px;
        top: 11px;
        right: 28px;
      }
    }
    &__sub{
      &>li{
        padding: 14px 46px;
      }
    }
    &__other{
      &>ul{
        &>li{
          padding: 14px 46px;
        }
      }
    }
    &__arrow{
      right: -24px;
      top: 6px;
    }
    &__back{
      padding: 11px 48px;
      .icon{
        top: 19px;
      }
    }
    &__dropdown{
      &>ul{
        &>li{
          padding: 14px 46px;
        }
      }
    }
  }
  .menu{
    &__list{
      &>li{
        &>a{
          padding: 7px 18px 11px;
        }
      }
    }
  }
  .top-banner {
    height: 200px;
    margin-bottom: 15px;
    &__content{
      padding: 56px 0 0 23px;
      h1{
        font-size: 30px;
        line-height: 30px;
      }
      p{
        padding-left: 2px;
        margin-top: 12px;
      }
    }
  }
  .products{
    .section-title{
      display: none;
    }
    &__slider{
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 0;
    }
    &__popular{
      display: none;
    }
  }
  .product {
    padding: 10px 4px 0;
    border: none !important;
    &__labels{
      left: 1px;
      top: 3px;
    }
    &__like{
      right: -2px;
      top: 5px;
    }
  }
  .owl{
    &-dots{
      margin-top: 12px;
      padding-right: 50px;
    }
    &-dot{
      width: 5px;
      height: 6px;
      margin: 0 2px;
    }
  }
  .banner {
    margin-bottom: 0;
    height: 200px;
    margin-top: 16px;
    &__content{
      flex: 0 0 60%;
      max-width: 60%;
      padding: 79px 0 0 17px;
    }
    &__title{
      h2{
        font-size: 32px;
        letter-spacing: -0.5px;
      }
    }
    &.cosm{
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
  .blog {
    margin-top: 16px;
    padding-bottom: 55px;
    .section-title{
      margin-left: 41px;
    }
    &__slider{
      padding-right: 0px;
      padding-left: 0;
    }
    &__button{
      margin-top: -7px;
    }
    &-item{
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 30px;
    }
  }
  #blog-slider {
    flex-direction: column;
    padding: 0 22px;
  }
  .brands {
    display: none;
  }
  .shops {
    display: none;
  }
  .footer{
    //background: transparent;
    height: 565px;
    &__heart{
      font-size: 570px;
      height: 546px;
      right: 50%;
      margin-right: -295px;
      top: -61px;
    }
    .social-icons {
      margin-top: 0;
      margin-bottom: 47px;
    }
    .container{
      &:nth-child(2) {
        padding: 0 15px;
      }
    }
    &__menu{
      text-align: center;
      flex: 0 0 50% !important;
      margin-bottom: 26px;
      h3{
        font-size: 15px;
        font-weight: 700;
      }
      ul{
        font-size: 14px;
        margin-top: 4px;
        li{
          margin-bottom: 0;
          line-height: 26px;
        }
      }
      .social-icons{
        margin-bottom: 47px;
      }
      &:nth-child(1) {
        order: 3;
      }
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(5) {
        order: 4;
      }
    }
    &__copy{
      margin-top: 13px;
      max-width: 210px;
      text-align: center;
      line-height: 16px;
    }
  }
}

@media (max-width: 374px) {
  .menu{
    &__list{
      &>li{
        &>a{
          padding: 7px 15px 11px;
        }
      }
    }
  }
  .blog-item__title h3 {
    font-size: 28px;
  }
}

@media (max-width: 359px) {
  .menu{
    &__list{
      &>li{
        &>a{
          padding: 7px 9px 11px;
        }
      }
    }
  }
  .banner__content {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .btn-lg {
    padding: 15px 60px;
  }
  .social-icons__item {
    margin: 0 2px;
  }
  .blog-item__title h3 {
    font-size: 24px;
  }
  .blog-item__image {
    height: 200px;
  }
}